*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

#root{
    padding: 20px 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.users{
display: flex;
flex-direction: column;
padding: 10px;
border: 2px solid rgb(10, 8, 128);
border-radius: 15px;
background:linear-gradient(to top right,#e3e4e5,rgb(7, 46, 76),#eeeeee);
transition: box-shadow 0.5s ease,
            border-radius 0.5s ease,
            transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.users:hover{
    box-shadow: 5px 5px 10px black;
    border-radius: 10px;
    transform: scale(1.3);
}